
.brand {
    color: #FF6329;
    font-family: Montserrat;
    font-weight: 600;
}

.navLink {
    color: #FF6329;
    font-family: Montserrat;
    font-weight: bold;
}

.buttonSignUp {
    color: #FF6329;
    border-color: #FF6329; 
    font-family: Montserrat;
    font-weight: bold;
}

.buttonLogIn {
    color: white;
    background-color: #FF6329; 
    font-family: Montserrat;
    font-weight: bold;
}

.profile {
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
}

.image {
    width: 100%;
    max-height: 550px;
}

.judulFooter {
    color: #979797;
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
}

.teksFooter {
    color: #979797;
    font-family: Montserrat;
    text-align: center;
}

.judulGambar {
    font-family: Montserrat;
    font-weight: 600;
}

.card {
    width: 22rem;
    border-radius: 0%;
}

.buttonCard {
    color : white;
    background-color : #FF6329;
    font-family : Montserrat;
}

.buttonCard1 {
    border-radius: 0%;
    color:white;
    background-color: #FF6329;
    font-family: Montserrat;
}