/* 
Structure :
1. navbar
2. button
3. footer
4. image
5. video 
*/

#brand {
    color: #FF6329;
    font-family: Montserrat;
    font-weight: 600;
}

#navLink {
    color: #FF6329;
    font-family: Montserrat;
    font-weight: bold;
}

#buttonSignUp {
    color: #FF6329;
    border-color: #FF6329; 
    font-family: Montserrat;
    font-weight: bold;
}

#buttonLogIn {
    color: white;
    background-color: #FF6329; 
    font-family: Montserrat;
    font-weight: bold;
}

#profile {
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
}

#image {
    width: 100%;
    max-height: 550px;
    vertical-align: 'middle',
}

#judulFooter {
    color: #979797;
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
}

#teksFooter {
    color: #979797;
    font-family: Montserrat;
    text-align: center;
}

#judulGambar {
    font-family: Montserrat;
    font-weight: 600;
}

#card {
    width: 22rem;
    border-radius: 0%;
}

#buttonCard {
    color : white;
    background-color : #FF6329;
    font-family : Montserrat;
}

#buttonCard1 {
    border-radius: 0%;
    color:white;
    background-color: #FF6329;
    font-family: Montserrat;
}

#container {
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
}

#textStyle {
    font-family: Montserrat;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#icon {
    color: yellow;
    font-weight: normal;
}

#deskripsi {
    font-family: Roboto;
    font-size: 18.72px;
    text-align: justify;
}

#title {
    font-family: Roboto;
    font-weight: bold;
}

#badges {
    font-family: Montserrat;
    font-weight: normal;
}

#galeri {
    width: 100%;
    max-height: 200px;
    border-radius: 8%;
}

#video {
    width: 800px;
    max-height: 800px;
    border-radius: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#profilePicture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#editProfile {
    font-style: italic;
    font-family: Montserrat;
    font-weight: normal;
}

#saveButton {
    color: white;
    background-color: #FF6329;
    font-family: Montserrat;
    font-weight: 600;
    float: right;
}
